body {
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 5vw;
}

ul.unformatted{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}

div.footer{
    text-align: center;
}