ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

ul.navbar h2 {
    padding-left: 30px;
}

ul.navbar li {
    float: right;
}

ul.navbar li:first-child {
    float: left;
}

ul.navbar a {
    display: block;
    color: #333;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
}