@import "https://fonts.googleapis.com/css?family=Alkatra";
body {
    font-size: 100%;
    /* font-family: 'Alkatra', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
}

p {
    font-size: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
h1{
    font-size: 3vw;
}

ul.unformatted{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}

div.footer{
    color: whitesmoke;
    background-color: black;
    display: flex;
    width: 100%;
    height:100%;
    text-align: center;
    padding: 4vw 0;
}

.footer p{
    text-align: center;
    width: 100%;
    margin: 0 6vw;
}

.padSides{
    margin-left: 5vw;
    margin-right: 5vw;
}
a{
    color: black;
    text-decoration: none;
}
div.clear {
    clear:both; 
}