ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

ul.navbar h2 {
    padding-left: 5vw;
    font-size: 2vw;
    vertical-align: middle;
}

ul.navbar li {
    float: right;
}

ul.navbar li:first-child {
    float: left;
}
ul.navbar li:nth-child(2){
    padding-right: 5vw;
}

ul.navbar a {
    display: block;
    color: #333;
    text-align: center;
    padding: 2vw 1.4vw;
    text-decoration: none;
    font-size: 1.5vw;
}

.navbar img{
    width: 5vw;
}