ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul.navbar li {
    float: right;
}

ul.navbar li:first-child {
    float: left;
}
ul.navbar li:nth-child(2){
    padding-right: 5vw;
}

ul.navbar a:not(.logoImage){
    display: block;
    color: #333;
    text-align: center;
    padding: 2vw 2vw;
    text-decoration: none;
    font-size: 1.5vw;
}

.navbar img{
    padding: 1vw 5vw;
    height: 3.5vw;
}