.mainBody h1 {
    margin-left: 5vw;
    margin-right: 5vw;
}

.mainBody {
    margin-top: 8vw;
    overflow: hidden;
}

.contactText {
    text-align: right;
    font-size: 1.5vw;
}

p {
    font-size: 1.5em;
    margin-right: 0;
}
.columns{
    float: right;
}

.columns img{
    height: 100%;
    padding-left: 5vh;
    padding-right: 5vh;
}
.date{
    font-size: 1em;
}
.centredImages{
    float: none; text-align: center; 
}
.doubleImage{
    height: 15em;
}
.tripleImage{
    height: 10em;
}
.triplePhone{
    height: 20em;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.tripleImage img:hover{
    -webkit-transform:scale(2);
    transform:scale(2);
}
@media (max-width:1100px){
    .doubleImage{
        height:auto;
    }
    .doubleImage img{
        width: 100%;
        height: auto;
    }
    
}
@media (max-width:1600px){
    .tripleImage{
        height: auto;
    }
    .tripleImage img{
        height: auto;
        width: 40vh;
    }
    .tripleImage img:hover{
        -webkit-transform:scale(1.5);
        transform:scale(1.5);
    }
}

@media (max-width:850px){
    .triplePhone{
        height: auto;
    }
    .triplePhone img{
        height: auto;
        width: 40vh;
    }
}